body {
    font-family: 'Ubuntu', sans-serif;
}

.listaDom {
    
    text-decoration: none;
    
}

.navAbajo {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    
}
.videoEspacio {
    margin: auto;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    

    .videoYT {
        margin: auto;
    }

}
.espacioContenido {
    pre {
        font-family: 'Ubuntu', sans-serif;
        
    }
}